@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Chocolate-Classical-Sans";
  src: url('./fonts/ChocolateClassicalSans-Regular.ttf');
}

@font-face {
  font-family: "Comme-Reg";
  src: url('./fonts/Comme/static/Comme-Regular.ttf');
}

@font-face {
  font-family: "Comme-Semibold";
  src: url('./fonts/Comme/static/Comme-Light.ttf');
}

@font-face {
  font-family: "Lato-Regular";
  src: url('./fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: "Cinzel";
  src: url('./fonts/Cinzel-VariableFont_wght.ttf');
}

@font-face {
  font-family: "Cinzel-Decorative";
  src: url('./fonts/CinzelDecorative-Regular.ttf');
}

@font-face {
  font-family: "Public-Sans";
  src: url('./fonts/Public_Sans/PublicSans-VariableFont_wght.ttf');
}